CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_aliyun_ap8220=n
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_arcadyan_aw1000=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_asus_rt-ax89x=n
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_buffalo_wxr-5950ax12=n
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_cmcc_rm2-6=n
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_compex_wpq873=n
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_dynalink_dl-wrx36=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_edgecore_eap102=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_edimax_cax1800=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_homewrk=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx4200v1=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx4200v2=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx4300=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx5300=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_linksys_mx8500=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_rax120v2=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_sxr80=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_sxs80=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_wax218=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_wax620=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_netgear_wax630=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_prpl_haze=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_qnap_301w=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=y	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6=y	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_spectrum_sax1v1k=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_deco-x80-5g=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_eap620hd-v1=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tplink_eap660hd-v1=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_verizon_cr1000a=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax3600-stock=y	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax3600=y	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax9000-stock=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_xiaomi_ax9000=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_yuncore_ax880=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zbtlink_zbt-z800ax=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zte_mf269-stock=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zte_mf269=n	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_zyxel_nbg7815=n
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_tcl_linkhub-hh500v=n	

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y
CONFIG_PACKAGE_kmod-batman-adv=y
CONFIG_PACKAGE_batctl=y
CONFIG_PACKAGE_wpad-wolfssl=y
